<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>

<body background="image/bd2.png">
    <header>

        <div class="topnav" id="myTopnav">
            <h2>Movie Blog</h2>
            <a href="index.html">Home</a>
            <a href="film.html">Films</a>
            <a href="about.html">About</a>
            <a id="sign" href="sign_up.html">Sign up</a>
        </div>
    </header>
    <div class="container" id="main">
        <div id="about">
            <p>This is a demo website for film fans to rate different films.</p>
        </div>

    </div>
    <footer>
        <p>Made by YYS</p>
    </footer>

</body>

</html>
