<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie Blog</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>

<body background="image/bd2.png">
    <header>

        <div class="topnav" id="myTopnav">
            <h2>Movie Blog</h2>
            <a href="index.html">Home</a>
            <a href="film.html">Films</a>
            <a href="about.html">About</a>
            <a id="sign" href="sign_up.html">Sign up</a>
        </div>
    </header>
    <div class="container" id="main">
        <div class="row">
            <div id="box1" class="col-lg-9">
                <p>Coming soon</p>
                <div id="box3">
                    <img src="image/baner.jpeg" width="180px" height="250px">
                    <h3>Star Wars: The Last Jedi (2017)</h3>
                    <p>Star Wars: Episode VIII The Last Jedi, marketed as Star Wars: The Last Jedi, is the upcoming eighth film in the Star Wars saga and second film in the sequel trilogy. The film was written and directed by Rian Johnson and produced by Kathleen Kennedy and Ram Bergman along with executive producer J.J. Abrams.</p>
                </div>
                <div id="box4">
                    <img src="image/baner2.jpg" width="180px" height="250px">
                    <h3>Kingsman 2: The Golden Circle (2017)</h3>
                    <p>When their headquarters are destroyed and the world is held hostage, the Kingsman's journey leads them to the discovery of an allied spy organization in the US. These two elite secret organizations must band together to defeat a common enemy.</p>

                </div>
            </div>
            <div id="box2" class="col-lg-3">
                <p>Here should be commercial...</p>
            </div>

        </div>
    </div>
    <footer>
        <p>Made by YYS</p>
    </footer>

</body>

</html>
